<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Mewocz Store Everything</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="container">
  <h2 class="mt-4">Check roles user needs</h2>
  <hr>



  <h3  class="h4 mb-4"><span th:text="${user.login}"></span> roles:</h3>

  <form th:action="@{/admin/save}"
        th:object="${user}" method="POST">
    <input type="hidden" th:field="*{id}">

    <input type="hidden" th:field="*{firstName}"
           class="form-control mb-4" style="width : 33.33%" placeholder="Name">
    <input type="hidden" th:field="*{lastName}"
           class="form-control mb-4" style="width : 33.33%" placeholder="Email">

    <input type="hidden" th:field="*{password}">

    <input type="hidden" th:field="*{age}">

    <input type="hidden" th:field="*{login}">


    <div>
    <th:block  th:each="role: ${listRoles}">
      <div class="d-block">
      <label th:for="${role.name}" th:text="${role.name}"></label>
      <input type="checkbox"  th:field="*{roles}" th:name="${role.name}" th:id="${role.name}"
             th:value="${role.id}" class="m-2 h4 mb-4" />
      </div>
    </th:block>
    </div>

    <br>

    <button type="submit" class="btn btn-primary col-2">Update Roles</button>
  </form>

  <hr>
  <a th:href="@{/admin/list}">Back to users</a>

</div>
</body>
</html>