<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header" >
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><h1 class="h4">Mewocz Store Everything</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item  d-flex" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link active" aria-current="page" th:href="@{/info/}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'FULL_USER')">Your Notes</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/info/shared}">Shared Notes</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/list}" sec:authorize="hasRole('ROLE_ADMIN')">Admin Panel</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item  d-flex" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="nav-link active" aria-current="page" th:href="@{/register/}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>